body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(5, 12em);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: white;
    grid-column-start: 2;
    grid-column: 2 / 6;
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: auto;
    padding-top: 1.5em;
    
}

.search-cell {
    grid-row: 1;
    grid-column: 2 / 14;
    display: inline-block;
}

.search-cell button {
    width: 2.2em;
    height: 2.2em;
    vertical-align: middle;
    border-radius: 20px;
    background-color: white;
    border-color: white;
    padding-right: 1em;
    border-style: solid;
}

.search-cell button img {
    width: 1.5em;
    height: 1.5em;
}

.search-cell input {
    width: 40em;
    height: 1.8em;
    vertical-align: middle;
    margin-left: 0.5em;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background-color: lightgray;
}

.notification-cell {
    grid-row: 1;
    grid-column: 14;
}

.notification-cell a img {
    width: 1.5em;
    height: 1.5em;
}

.profile-picture-cell {
    grid-row: 1;
    grid-column: 15;
}

.user-logo {
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-top: -1em;
}

.account-cell {
    grid-row: 1;
    grid-column: 17 / 20;
    font-weight: bold;
}

.greeting-cell {
    grid-row: 2;
    grid-column: 2 / 6;
    text-align: center;
    vertical-align: middle;
}

.new-cell {
    grid-row: 2;
    grid-column: 14;
    background-color: #1d4ed8;
    width: 6em;
    height: 1.5em;
    text-align: center;
    padding-top: 0.5em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.upload-cell {
    grid-row: 2;
    grid-column: 16;
    background-color: #1d4ed8;
    width: 6em;
    height: 1.5em;
    text-align: center;
    padding-top: 0.5em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.share-cell {
    grid-row: 2;
    grid-column: 18;
    background-color: #1d4ed8;
    width: 6em;
    height: 1.5em;
    text-align: center;
    padding-top: 0.5em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.sidebar-container {
    background-color: #1d4ed8;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row: 1 / 6;

    display: grid;
    grid-template-rows: 10% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 50%;
    grid-template-columns: auto;
    padding-left: 1.2em;
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.main-content-container {
    background-color: lightgray;
    grid-column-start: 2;
    grid-column: 2 / 6;
    grid-row: 2 / 6;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;

}

.projects-block {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
    margin-left: 1em;
}

.projects-heading {
    grid-row: 1;
}

.content-block1 {
    grid-row: 2;
    background-color: white;
    height: 75%;
    width: 85%;
    border-radius: 5px;
    padding: 20px;
}

.content-block2 {
    grid-row: 3;
    background-color: white;
    height: 75%;
    width: 85%;
    border-radius: 5px;
    padding: 20px;
}

.content-block3 {
    grid-row: 4;
    background-color: white;
    height: 75%;
    width: 85%;
    border-radius: 5px;
    padding: 20px;
}

.announcements-block {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 10% 40%;
    height: 97%;
}

.announcements-heading {
    grid-row: 1;
}

.announcements-content {
    grid-row: 2;
    background-color: white;
    border-radius: 5px;
}

.trending-heading {
    grid-row: 3;
}

.trending-content {
    grid-row: 4;
    background-color: white;
    border-radius: 5px;
}